# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.phpunit.result.cache

# Laravel IDE helper (se usi barryvdh/laravel-ide-helper)
._ide_helper.php
.phpstorm.meta.php

# Laravel Livewire temporary files
/livewire-tmp

# Log files
/storage/logs/*.log
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/views/*.php
/storage/framework/testing

# NPM / Vite
/.vite
/.vitepress
/.sass-cache

# System
.DS_Store
Thumbs.db

# VSCode
.vscode/*
!.vscode/settings.json
